<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p><%= descriptions %></p>
  <br/>
  <a href="/adddomainqueue">
    <button type="button">Add Domain To Queue</button>
  </a>
  <a href="/startrequest">
    <button type="button">Start Request</button>
  </a>
</body>

</html>